:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
}


button {
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
background-color: #4caf50;
color: white;
border: none;
border-radius: 5px;
}



.crossword-row {
display: flex;
justify-content: center;
}

.crossword-cell {
width: 30px;
height: 30px;
border: 1px solid #ccc;
display: flex;
justify-content: center;
align-items: center;
}

.empty {
background-color: #00000050;
}

.filled {
background-color: #e0e0e0;
}

.crossword-input {
text-align: center;
font-size: 18px;
border: none;
outline: none;
width: 20px;
height: 20px;
}

.correct {
background-color: #4caf50;
color: white;
}

.incorrect {
background-color: #f44336;
color: white;
}

.word-number {
font-size: 14px;
color: #007bff;
font-weight: bold;
}

.clues-container {
margin-top: 20px;
text-align: left;
max-width: 600px;
margin: 0 auto;
}

.error {
color: red;
font-weight: bold;
margin-top: 20px;
}

button {
  margin: 10px;
}

/* mobile-support */
@media (max-width: 600px) {
  .crossword-row {
    flex-wrap: wrap;
  }

  .crossword-cell {
    width: 20px;
    height: 20px;
  }

  .crossword-input {
    width: 15px;
    height: 15px;
    font-size: 14px;
  }
}
.blue-clue {
  color: blue !important;
}

.green-clue {
  color: green !important;
}

.red-clue {
  color: red !important;
}
